<aside class="sidebar d-flex flex-column align-items-center py-4" style="width: 320px; background-color:#23272f; height: 100%;">
  <div class="admin-info text-center mb-4 ">
    <span class="material-symbols-outlined" style="font-size: 180px; color: rgb(255, 255, 255); ">supervisor_account</span>
    <i class="bi bi-person-circle fs-2 text-success mb-1"></i>
    <div class="fw-bold fs-5" style="color: aliceblue;">Leonardo  huaman Mezarina</div>
    <div class="text-secondary small">leonardo.huaman.mezarina&#64;gmail.com</div>
  </div>
<mat-nav-list>
  <a mat-list-item routerLink="/home" class="text-white margin-bottom">
    <mat-icon>home</mat-icon>
    <span class="menu-text margin-left">Inicio</span>
  </a>
  <a mat-list-item routerLink="/customer-list" class="text-white margin-bottom">
    <mat-icon>person</mat-icon>
    <span class="menu-text margin-left">Clientes</span>
  </a>
  <a mat-list-item routerLink="/pedidos" class="text-white margin-bottom">
    <mat-icon>description</mat-icon>
    <span class="menu-text margin-left">Pedidos</span>
  </a>
  <a mat-list-item routerLink="/product-list" class="text-white margin-bottom">
    <mat-icon>add_shopping_cart</mat-icon>
    <span class="menu-text margin-left">Productos</span>
  </a>
</mat-nav-list>
</aside>
